.timeline{
    margin: 4.2rem auto;
    display: flex;
    max-width: 768px;
    width: 100%;

    position: relative;

    &::before{
        content: '';
        width: 1px;
        height: 100%;
        background-color: $black;

        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    &__column{
        width: 50%;

        &-left{
            text-align: right;

            padding-right: 3.2rem;
        }

        &-right{
            padding-left: 3.2rem;
        }
    }

    &__title{
        font-weight: 700;
        font-size: 1.2rem;
        color: $black;
        text-transform: uppercase;

        margin-bottom: 2.6rem;
    }

    &__item{
        margin-bottom: 2.6rem;
    }

    &__year{
        font-size: .94rem;
        text-decoration: underline;
        font-weight: 400;
        color: $black;

        margin-bottom: .8rem;

        span{
            font-weight: 700;
        }
    }

    &__suptitle{
        font-size: 1.06rem;
        color: $black;
        font-weight: 700;
        margin-bottom: .3rem;
    }

    &__position{
        font-style: italic;
        color: $black;
        font-size: .94rem;
    }

    &__text{
        margin-top: .8rem;
        font-size: .8rem;
        font-weight: 300;
        color: $grey;
        line-height: 1.5;
    }
}

@media (max-width: 768px) {
    .timeline{
        margin: 3.2rem auto;
    }
}

@media (max-width: 620px) {
    .timeline{
        margin: 3.2rem auto;
    }

    .timeline__column-left{
        padding-right: 1.2rem;
    }

    .timeline__column-right{
        padding-left: 1.2rem;
    }

    .timeline__title{
        margin-bottom: 1.6rem;
    }

    .timeline__text{
        font-size: .7rem;
    }
}